<h1>Staticpages#index</h1>
<p>Find me in app/views/staticpages/index.html.erb</p>

<h2>Search what collection you want to view</h2>

<%= form_with do |form|%>
    <%=form.label :collection, "Pick Collection"%>
    <%=form.select :collection, @collections_for_select %>

    <%=form.submit "Search"%>
<%end%>